
/********* Common Project Page Elements ************/

/* Header */
.projpg-header {
    position: fixed;
}
.projpg-header .homeLinkContainer {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    transition: background-color 500ms;
}
.projpg-header .homeLinkContainer:hover {
    background-color: #28224B;
    transition: background-color 500ms;
}
.projpg-header .homeLinkContainer .arrowToMain {
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
}
.projpg-header .homeLinkContainer .linkToMain {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-decoration: none;
    margin: 0 8px 0 20px;
}
.projpg-header .projTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.cyz {
    font-size: 1.5rem;
    float: left;
    height: 100%;
    padding: 0 15px;
}

/* Content */
.projpg-sectionContainer {
    width: 70vw;
    margin: 50px auto;
}
.projpg-sectionContainer h1 {
    color: #fff;
    font-size: 2rem;
    margin-top: 15px;
}
.projpg-sectionContainer h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 8px;
}
.projpg-sectionContainer p {
    color: #fff;
    font-size: 1.1rem;
    margin-top: 8px;
}

/********* Registration Page ************/

/* Header */
#reg-projTitle {
    font-size: 1.7rem;
}

/* Content */
#projNote {
    font-size: 1rem;
    margin: 0;
}
#paperLinksContainer {
    display: inline-block;
    border: #fff solid 1px;
    padding: 5px;
}
img[alt="Training example"] {
    display: block;
    margin: 8px 30px 20px 0;
    max-width: 15%;
    border: #fff solid 2px;
    float: left;
}
img[alt="Training example2"] {
    display: block;
    float: right;
    max-width: 40%;
    margin: 20px 0 20px 30px;
}
img[alt="Final architecture"],
img[alt="Boundary refinement"],
img[alt="Results"] {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}


/********* Media Queries ************/
@media screen and (max-width: 1100px) {
    #projReg-header .cyz,
    #projReg-header .projTitle {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    img[alt="Training example"] {
        max-width: 50%;
    }
    img[alt="Training example2"] {
        max-width: 100%;
        margin: 20px 0;
    }
    
}



